In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-win_amd64.whl (14.3 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

WARNING: You are using pip version 21.2.4; however, version 24.2 is available.
You should consider upgrading via the 'C:\Users\Gopi Boga\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import mysql.connector

In [32]:
db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='Bhavana@123',
    database='tables')

In [31]:
db.close()

In [33]:
cursor=db.cursor()

In [17]:
cursor.execute("show tables")
result=cursor.fetchall()
for row in result:
      print(row)

('bigbasket',)
('bigbasket_view',)
('bigbasket_view1',)
('country_sales',)
('customer',)
('customers',)
('discount_view',)
('discount_view1',)
('employees',)
('employees1',)
('employeesinfo',)
('order1',)
('orders',)
('products',)
('programmers',)
('sales',)
('software',)
('students',)
('studies',)
('tasks',)
('user',)

In [16]:
cursor.execute("select * from country_sales")
result=cursor.fetchall()
for row in result:
      print(row)

(2000, 'Finland', 'Computer', 1500)
(2000, 'Finland', 'Phone', 100)
(2001, 'Finland', 'Phone', 10)
(2000, 'India', 'Calculator', 75)
(2000, 'India', 'Calculator', 75)
(2000, 'India', 'Computer', 1200)
(2000, 'USA', 'Calculator', 75)
(2000, 'USA', 'Computer', 1500)
(2001, 'USA', 'Calculator', 50)
(2001, 'USA', 'Computer', 1500)
(2001, 'USA', 'Computer', 1200)
(2001, 'USA', 'TV', 150)
(2001, 'USA', 'TV', 100)

In [18]:
cursor.execute("select * from country_sales")
result=cursor.fetchone()
print('first row',result)

first row (2000, 'Finland', 'Computer', 1500)

In [34]:
cursor.execute("select * from country_sales")
result=cursor.fetchmany(size=4)
print('first 4 row',result)
for i in result:
    print(i)

first 4 row [(2000, 'Finland', 'Computer', 1500), (2000, 'Finland', 'Phone', 100), (2001, 'Finland', 'Phone', 10), (2000, 'India', 'Calculator', 75)]
(2000, 'Finland', 'Computer', 1500)
(2000, 'Finland', 'Phone', 100)
(2001, 'Finland', 'Phone', 10)
(2000, 'India', 'Calculator', 75)